<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>
  <body>
    <%= render 'shared/navigation' %>
    <%= render 'shared/alerts' %>
    <div class='container' id="<%= controller.controller_name %>">
      <%= yield %>
    </div>
    <div class="container border">
    <%= debug(params) if Rails.env.development? %>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
